:root {
  --bg-colour: white;
  --font-colour: black;
  --seperated-sliders-bg-colour: rgb(220, 220, 240);
  --button-colour: rgb(200,200,200);
  --checkbox-colour: rgb(130, 130, 130);
  --accent-color: rgb(60, 250, 225);
  --transition-time: 0.5s;
  --drop-shadow: drop-shadow(3px 3px black);
  --border: 3px dashed var(--font-colour);
}

html.dark-mode {
  --bg-colour: rgb(50, 50, 50);
  --font-colour:rgb(209, 209, 209);
  --seperated-sliders-bg-colour: rgb(70, 70, 80);
  --button-colour: rgb(40, 40, 40);
  --checkbox-colour: rgb(255, 255, 255);
  --accent-color: rgb(60, 250, 225);
}

html * {
  font-weight: 900 !important;
  text-transform: uppercase !important;
  font-family: "FreeMono", monospace; 
  transition: background-color var(--transition-time),
              color var(--transition-time),
              border-color var(--transition-time) !important;
}


body {
  background-color: var(--bg-colour);
  color: var(--font-colour);
  height: 100vh;
}

h1, h2 {
  text-align: center;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    appearance: none; /* Removes default styles */
    background-color: var(--checkbox-colour); /* Default background */
    border: 2px solid black;
    cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-color);
}

input[type="range"] {
  accent-color: var(--accent-color);
}



/* For disabled options */
.muted {
  opacity: 50%;
}



/* Custom tooltip box */
.tooltip-container {
  position:relative;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: rgb(80,80,80);
  color: white;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;

  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  pointer-events: none;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  filter: var(--drop-shadow);
}



/* Dark mode button */
#dark-mode-container {
  display: flex;
  justify-content: flex-end;
  align-items: middle;
  padding: 5px;
  margin-right: 5%;
}

.form-check.form-switch {
  margin-left: auto;
}

.form-switch .form-check-input {
  filter: var(--drop-shadow);
  width: 3em;
  height: 1.5em;
  background-color: var(--button-colour);
}

.form-switch .form-check-label {
  margin-left: 0.75rem;
  font-size: 20px;
  transform: translateY(2px);
}

#inputs-and-preview-container{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

#inputs {
  flex: 1;
  max-width: 50%;
  padding-right: 5vh;
}

#input-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spacer {
  flex: 1;
  min-height: 5px;
}

#preview-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: middle;
}

#preview {
  border: var(--border);
  width: auto;
  height: auto;
  aspect-ratio: 210 / 297;
  max-width: 100%;
}

.input-container {
  display:flex;
  border: var(--border);
  padding: 5px;
  flex-direction: column;
}

.input-container select {
  margin:3px;
}

.checkbox-label {
  display: inline;
}

.checkbox {
  filter: var(--drop-shadow);
}

select {
  filter: var(--drop-shadow);
}

.slider-container input[type="range"] {
  vertical-align: middle;
  transform: translateY(-1px);
  width: 49%;
  filter: var(--drop-shadow);
}

.sliders-separated-container {
  background-color: var(--seperated-sliders-bg-colour);
  border-radius: 5px;
  margin-bottom: 5px;
}

.slider-label {
  width: 17ch;
}

.slider-display {
  text-transform: lowercase !important;
  vertical-align: center;
}

input[type="file"]::file-selector-button {
  display: none;
}

.form-control {
  text-align: center;
  border: var(--border);
  display: inline;
  padding: 5px;
  margin-bottom: 5px;
  background-color: var(--button-colour);
  color: var(--font-colour);
}



#submit {
  margin-left: 5%;
  margin-right: 5%;
}

#submit-button-container {
  text-align: center;
  margin: 5px;
}

#submit-button {
  border-radius: 12px;
  font-size: 20px;
  width: 100%;
  background-color: var(--button-colour);
  color: var(--font-colour);
  filter: var(--drop-shadow);
  border-color: var(--accent-color);
}


