<!doctype html>
<html lang="en" class="{% if request.cookies.get('dark_mode') == 'true' %}dark-mode{% endif %}">
  <head>
    {% include "head.html" %}
  </head>
  <body>

    <h1> it is the page maker.</h1>

    <div id="dark-mode-container">
      {% include "dark-mode.html" %}
    </div>

    <div id="inputs" >
        {% include "inputs.html" %}
    </div>

    </div>

    <div id="submit">
      {% include "submit.html" %}
    </div>

  </body>
  <footer>
    {% include "footer.html" %}
  </footer>
</html>
